ul.imgs {
    & li.img {
        width: 500px;
        overflow: hidden;
        margin: 0 auto;

        & .title {
            text-align: start;
            margin-bottom: 0.2em;
        }
        & img {
            width: 100%;
            transition: all 0.35s;

            &:hover{
                transform: scale(1.05);
            }
        }
    }
}